head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width,initial-scale=1')
  meta(name='x-apple-disable-message-reformatting')
  title Issue resolved
img(src='https://life-octal.s3.ap-south-1.amazonaws.com/life/1699869307751-LIFE-Logo.png' style='height: 20px; width:100px;')
hr
p(style='font-size:18px;')
  | Dear #{name} , 
  br
  br
  |  Your ticket number 
  strong #{ticketNumber}
  |   is closed as our team resolved this issue.
h2(style='background: #00466a;margin: 0 auto;width: max-content;padding: 0 10px;color: #fff;border-radius: 4px;')
p
p(style='font-size:18px;')
  br
p
  | Thanks
  br
  | Team Learning Mastery &ndash; LIFE app
