head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
  title
div(style='padding: 1% 5%;')
  a(href='https://lifemobileapp.page.link/HrGD')
    img(src='https://learningmastery.s3.ap-south-1.amazonaws.com/Blue+Modern+Education+Email+Header.png' alt='' style='height: auto; width:100%;border-radius: 5px;')
  br
  br
  br
  span Dear &nbsp; #{fullName}
  p
    | My name is Shishir Bhatkal, and I am the Project Director at Octal Optimum Technologies Private Limited.  We are a company dedicated to empowering students with innovative learning tools. 
    br
    |         We are writing to request your esteemed institution&apos;s collaboration in spreading awareness about our mobile application, LIFE app.  LIFE app is designed specifically to assist undergraduate students of all streams and semesters in their preparation for various competitive exams.
    br
    br
    | LIFE app offers a comprehensive and interactive platform with features like:
    br
    ul
      li
        b Personalized Study Plans:
        |  Tailored to individual strengths and weaknesses.
      li
        b Tests and Quizzes:
        | Simulating real exam environments to enhance readiness.
      li
        b Detailed Analytics:
        | Tracking progress and identifying areas for improvement.
      li
        b Streamlined study materials:
        | Consolidated resources categorized by exam and topic.
      li
        b Practice tests and mock exams:
        | Self-assessment tools to gauge understanding and identify improvement areas.
      li
        b Performance tracking:
        | Analyse strengths and weaknesses to focus preparation effectively.
  p
    | We believe that LIFE app can be a valuable resource for your students, aiding them in their academic journey towards competitive exams.
    | We propose a digital awareness drive within your institution to introduce the app to your UG student body. We are open to various collaborative approaches, such as:
  p
    ul
      li
        b Informational emails:
        |  Sending a brief email introduction of the app to all UG students.
      li
        b Social media promotion:
        | Collaborating on social media posts to reach your student audience. Direct download by sharing the link WhatsApp groups.
      li
        b Guest webinars/sessions:
        | Conducting online sessions to demonstrate the app&apos;s functionalities and benefits.
  p
    | We are confident that by working together, we can empower your students with a valuable tool for their competitive exam preparation. We are happy to discuss the details further at your convenience.
    br
    |         Thank you for your time and consideration. We look forward to hearing from you soon.
  p(style='text-align: left;')
    | Sincerely,
    br
    |     Shishir Bhatkal
    br
    |     Program Director
    br
    |     Octal Optimum Technologies Pvt. Ltd.
