doctype html
head
  meta(charset='UTF-8')
  title Welcome to Learning Mastery - LIFE App
h2 Hi #{name},
p
  | Welcome to Learning Mastery, the most comprehensive and user-friendly learning application LIFE app, Powered by Octal Optimum Technologies Private Limited.
h2 Quick Onboarding Guide
ol
  li
    p
      | Complete your profile. We have your name, email address, and PAN number, at the time of registration, the other relevant information, you can update in the edit profile page of LIFE app. Completion of your profile will help us to honor our commitment to award and reward you as we progress together completing the assigned tasks and obligations.
  li
    p
      | Explore the App. Take some time to browse the different features and contents that are available in LIFE app. By using LIFE app you are given an opportunity to learn, to build your desired career, to grow towards self-sufficiency, to acquire knowledge, to gain economic freedom to aim and achieve pursuing higher studies in great Universities and much more.
  li
    p
      | Courses. You have already enrolled choosing the appropriate course for you; you can start learning immediately.
  li
    p
      | Complete assignments and quizzes. As you work through your courses, you&apos;ll be asked to complete assignments and quizzes to assess your learning.
  li
    p
      | Earn Awards and Rewards. At every stage of your learning through LIFE app, you&apos;ll earn award and reward points. These points you can use judiciously. Earning award and reward points in LIFE app is by sharing with your friends and acquaintances your learning experience to enroll them in LIFE app to create your now group of LIFE app users.
  li
    p
      | Account Use. You must use your LIFE app on a regular basis. This means you are not provided with a logout button, to keep your LIFE app active and available to use as often as possible. If we reasonably suspect that your LIFE app account is at risk of being used by anyone other than you fraudulently (for example, as a result of an account compromise), Octal Optimum may suspend your account until you can reclaim ownership. You are discouraged from multiple logins; and your login activities are monitored to ensure the best learning experience and optimum benefits of learning processes.
h2 Support Resources
ul
  li
    p
      | Knowledge base: Our knowledge base contains a wealth of information on how to use the platform, including articles, videos, and FAQs.
p
  | We hope you enjoy your time on LIFE app! If you have any questions or feedback, please don&apos;t hesitate to contact us.
p Sincerely, Team Learning Mastery &ndash; LIFE app
