head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width,initial-scale=1')
  meta(name='x-apple-disable-message-reformatting')
  title Ticket confirmation
img(src='https://life-octal.s3.ap-south-1.amazonaws.com/life/1699869307751-LIFE-Logo.png' style='height: 30px; width:100px;')
hr
p(style='font-size:18px;')
  | Dear #{name} , 
  br
  br
  | We have received your ticket request. Our team will resolve this issue shortly. Your ticket number is #{ticketNumber}.
h2(style='background: #00466a;margin: 0 auto;width: max-content;padding: 0 10px;color: #fff;border-radius: 4px;')
p
p(style='font-size:18px;')
  br
p
  | Thanks
  br
  | Team Learning Mastery &ndash; LIFE app
